@model KissSweet.Models.DetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.imgsrc)" style="max-height:300px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
