@model IEnumerable<KissSweet.Models.DetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3">
        <p></p>
        @await Component.InvokeAsync("CategoriesList")
    </div>
    <div class="col-9">
        <img src="~/image/banner.jpg" style="height:80%; width:80%;"/>
    </div>
</div>

<div>共 @ViewBag.count</div>
<hr />
<div class="row ml-1">
    @foreach(var item in Model)
    {
    <div class="col">
        <div class="card h-100 shadow-sm rounded" style="width:16rem;">
            <img src="@Html.DisplayFor(modelItem => item.imgsrc)" class="card-img-top" />
            <div class="card-body">
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.product.Name)</h6>

                <p class="card-text overflow-text" style="font-size:small;">@Html.DisplayFor(modelItem => item.product.Description)</p>
            </div>
            <a class="stretched-link" asp-action="Details" asp-route-Id="@item.product.Id"></a>
            <div class="card-footer btn btn-light" style="position: relative;">
                <div class="text-center">
                    @if (item.product.Stock >= 1)
                    {
                        <a class="stretched-link text-dark" style="text-decoration: none;" onclick="ShowMessage()"
                           asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@item.product.Id">加入購物車</a>
                    }
                    else
                    {
                        <div class="text-muted">商品缺貨中</div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>
