@model IEnumerable<KissSweet.Models.DetailViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Scripts {
    <script>
        function ShowMessage() {
            toastr["success"]("商品已加入購物車！");
        }
    </script>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>


@await Component.InvokeAsync("CategoriesList")
@*<div>共 @ViewBag.count</div>*@
<hr />
<div class="row p-1">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm rounded">
                <img src="@Html.DisplayFor(modelItem => item.imgsrc)" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.product.Name)</h6>

                    <p class="card-text overflow-text" style="font-size:small;">@Html.DisplayFor(modelItem => item.product.Description)</p>
                </div>
                <a class="stretched-link" asp-action="Details" asp-route-Id="@item.product.Id"></a>
                <div class="card-footer btn btn-light" style="position: relative;">
                    <div class="text-center">
                        @if (item.product.Stock >= 1)
                        {
                            <a class="stretched-link text-dark" onclick="ShowMessage()"
                               asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@item.product.Id">加入購物車</a>
                        }
                        else
                        {
                            <div class="text-muted">商品缺貨中</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
